.cart-container {
  margin-top: 12%;
  height: 100vh;
  background-color: white;
}

.center-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-cart {
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}
