.payment-container {
  margin-top: 12%;
  height: auto;
  background-color: white;
}

.center-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
